<ion-side-menus>

   <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-tru nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-tru">
      <h1 class="title"></h1>
    </header>
    <ion-content class="has-header back-tru">
      <ion-list>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  
</ion-side-menus>
